* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-decoration: none;
	color:#444;
	font-family: 'roboto', sans-serif;
}

body {
padding-top: 5px;
}

.container {
	padding: 0px;
	margin: 0px;
}


.logo {
	font-family: cursive;
	font-size: 20px;
	position: absolute;
	padding: 5px 15px;

}

.nav {
	padding: 5px;
}

.nav-tab {
	padding: 5px 2.5%;
	letter-spacing: 3px;
	transition: transform 0.1s;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	margin: auto;
	left:31.5%;
	position: relative;



}

p {
	margin:15px 0;
	letter-spacing: 1px;
	color: #444;

}

.nav-tab:hover {
	color: white;
	background: rgba(255,201,181,1);
	text-align: center;
	transform: scale(1.1) rotate(0deg);
}
/*
80,188,241
101,191,189
187,221,214
253,181,187
249,227,218
*/
.header {
	padding: 20px 20px 0 20px;
	/*clear:left;*/
	text-align: center;
	font-size: 50px;
	background: rgba(249,227,218,1);



}

a.header-logo {
	font-family: 'Montserrat';
}

a.header-logo:hover {
color: white;
}
.subheader {
	padding: 0 20px 30px 20px;
	font-size: 20px;
	font-family: 'Montserrat';
	background: rgba(249,227,218,1);
	text-align: center;



}

.intro {
	background: rgba(101,191,189,0.25);


}

.intro-text {
	padding: 80px;
}


/*
80,188,241
101,191,189
187,221,214
253,181,187
249,227,218
*/
.picture {

	background: rgba(249,227,218,1);
	padding: 50px;
	text-align: center;

}

#pic-1 {
	margin-top: 10px;
	border:black solid;
	box-shadow: 0px 0px 10px;
	transition: opacity 1s ease:0.25s;


}
.button {
	border: none;
	width:15%;
	background: rgba(253,181,187,0.75);
	/*letter-spacing: 3px;*/
	/*font-weight: bold;*/
	font-size: 14px;
	padding: 10px 0 10px 0;
	margin: 20px 10px 20px 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px;
	font-family: 'Times New Roman';

}

.button:hover {
	background: rgba(253,181,187,0.5);


}

.button:active {
	background: rgba(253,181,187,0.1);

}



.caption {
	padding: 10px;
	color: #444;
	transition: opacity 0.5s ease 0s;
	font-family: 'Times New Roman';
	margin: 10px 0 20px 0;

}

.sales-header {
	text-decoration: underline;
}
.sales {
	position: relative;
	width:50%;
	text-align: left;
	background:pink;
	padding: 50px;
	left:25%;
}


.footer {
	padding:10px;
	width:100%;
	clear: both;
	font-weight: bold;
	background: grey;
	color:white;
	font-size: 12px;
}
